body {
  box-sizing: border-box;
}

.centered {
  text-align: center;
}

.container {
  max-width: 99%;
  margin: 1rem;
  padding: 0;
}

.container .tabs-nav a {
  display: block;
}

.tabs-nav {
  margin-left: 2px;
  margin-top: 2px;
}

.tabs .options {
  padding: .5rem 1rem;
  display: block;
}

.container .tabs .item {
  margin-bottom: 1rem;
}

.nav-hidden {
  display: none;
}

.item .author {
  margin: 1rem 0;
}

.item.unread {
  border: solid 1px #6c6c6c;
}

.hamburger {
  position: fixed;
  right: 10px;
  top: 10px;
}

.switch {
  padding-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .hamburger {
    display: none !important;
  }
  .nav-hidden {
    display: block;
  }

  .tabs {
    overflow: hidden;
  }

  .reader-content {
    position: relative;
    overflow-y: scroll;
    max-height: 94vh;
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .hamburger {
  }
  .container {
    margin: 1rem 0.6rem;
    max-width: 96%;
  }
  .container .navigation {
    flex: 0 0 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    z-index: 100 !important;
    background: #f7f7f7;
    overflow: hidden;
  }
  .navigation-container {
    transition: height ease-in 50ms;
    height: 100vh;
  }
  .navigation-container .tabs-nav {
    padding-top: 4rem;
  }
  .navigation-container.nav-collapsed {
    height: 0px;
  }

  .container .tabs {
  }
}

.reader-content * {
  max-width: 99%;
}
