<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Feeds</title>
        <link rel="stylesheet" href="/static/shoelace.css">
        <link rel="stylesheet" href="/static/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <script src="https://unpkg.com/vue@2.4.2"></script>
        <script src="https://unpkg.com/vuex@2.3.1"></script>
    </head>
    <body>
        <template id="pocket-button">
            [[if .PocketEnabled ]]
            <div>
                <a :href="pocketUrl" target=_blank>
                    <button class="button">
                    <i class="fa fa-get-pocket" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
            [[end]]
        </template>

        <template id="folders-template">
            <div class="col-3 navigation">
                <button class="hamburger button-lg" @click.prevent="expandHamburger">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <div :class="{ 'nav-collapsed': !expanded }" class="navigation-container">
                    <nav class="tabs-nav">
                        <a @click.prevent="unfocus" :class="{ active: defaultActive }" href="#">
                            All
                        </a>
                        <a @click.prevent="focus(folder.folder)" :class="{ active: isActive(folder.folder) }" v-for="folder in folders" href="#">
                            {{ titleize(folder.folder) }}
                            <span class="text-bold" v-if="folder.unread > 0">{{ folder.unread }}</span>
                        </a>
                    </nav>
                    <hr/>
                    <filters-component :expanded="expanded"></filters-component>
                    <hr/>
                </div>
            </div>
        </template>

        <template id="filters-template">
            <div class="options">
                <div class="switch">
                    <input type="checkbox" class="switch" id="only-new-switch" :checked="checked" @change="toggleUnread">
                    <label for="only-new-switch"></label>
                    <span class="hide-md">Only new</span>
                </div>
                <div>
                    <button type="button" @click.prevent="markFolderAsRead" :disabled="!folderSelected">
                        <i class="fa fa-check"></i>
                    </button>
                    <span class="hide-md">Mark folder as read</span>
                </div>
            </div>
        </template>

        <template id="list-template">
            <div class="reader-content col"
                @scroll="scrollHandler">
                <div v-if="loading" class="tabs-pane active centered">
                    <span class="loader loader-big"></span>
                </div>
                <content-component
                 v-else
                 v-for="(item, index) in items"
                 :item="item"
                 :index="index"
                 :key="item.uuid">
                </content-component>
            </div>
        </template>

        <template id="content-template">
            <div class="tabs-pane active item" :class="{ unread: unread }" @mouseover=markAsReadHover>
                <div class="title">
                    <a :href="item.link" target="_blank">
                        <h2>{{ item.title }}</h2>
                    </a>
                    [[if .PocketEnabled ]]
                    <pocket-button-component :url="item.link"></pocket-button-component>
                    [[end]]
                </div>
                <div class="author">
                    <a :href="item.feedlink" target="_blank">{{ item.feedtitle }}</a>
                    <span v-if="item.author"> by {{ item.author }}</span>
                </div>
                <div v-html="item.content">
                </div>
            <div>
        </template>

        <div class="container" id="app">
            <div class="tabs">
                <div class="row">
                    <folders-component></folders-component>
                    <list-component></list-component>
                </div>
            </div>
        </div>

        <script src="/static/main.js"></script>
    </body>
</html>
